*,
*::before,
*::after {
    box-sizing: border-box;
}

:root {
    --background: #102634;
    --foreground: #ffffff;
}

@media (prefers-color-scheme: dark) {
    :root {
        --background: #0C1015;
        --foreground: #ededed;
    }
}

html {
    font-size: 16px;
}

body {
    background: var(--background);
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    flex-direction: column;
    height: 100dvh;
}

header {
    min-height: 20vh;
}

main {
    flex-grow: 1;
    display: flex;

}

footer {
    min-height: 5vh;
    height: 100px;
    background-image: linear-gradient(
            to top,
            rgba(12, 16, 21, 1),
            rgba(17, 34, 47, 0.3) 5%,
            rgba(17, 34, 47, 0.3) 1%,
            rgba(12, 16, 21, 1)
    ),
    url('/background.jpg');
    background-size: cover;

}
